webservice_lct/nbproject/private/
webservice_lct/build/
webservice_lct/dist/
client_lct/build/
client_lct/dist/
client_lct/nbproject/private/
webservice_lct\nbproject
/webservice_lct/src/java/config/
